.modalFrame {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white; /* 모달 배경색 */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75); /* 모달 그림자 */
    max-width: 600px; /* 모달 최대 너비 */
    width: 100%;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7); /* 어두운 배경 색상 및 투명도 */
    display: flex;
    justify-content: center;
    align-items: center;
}
